

<p><%=link_to "Create new", new_unit_path %></p>


<div data-role="header">
  <h1>Units</h1>
</div>

<div data-role="content">
  <ul data-role="listview">
    <% @units.each do |unit| %>
      <li><%=link_to unit.name, unit %></li>
    <% end %>
  </ul>
</div>