<div data-role="header">
  <h1><%= @unit.name %></h1>
  <%= link_to 'Home', root_url, "class" => "ui-btn-right" %>
</div>

<div data-role="content">
  <%=link_to "On", unit_status_path(@unit, :value=>"on"), :method => :put %>
  <%=link_to "Off", unit_status_path(@unit, :value=>"off"), :method => :put %>
</div>